h1{
    color: red;
}
.h1_center{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #f8f8f8;
}



* {
    box-sizing: border-box;
}

.form_center {
    max-width: 320px;
    padding: 15px;
    margin: 20px auto;
    background-color: #eca9a9;
}

.form_login {
    max-width: 320px;
    padding: 0px;
    margin: 20px;
    background-color: #fff;
}

.input {
    display: inline;
    width: 95%;
    padding: 8px 10px;
    margin-bottom: 10px;

    border: 1px solid #ccc;

    font-family: inherit;
    font-size: 16px;
}
.red_text{
    font-family: inherit;
    font-size: 20px;
    color: red;
}

.btn {
    display: block;
    width: 100%;
    padding: 8px 10px;

    border: 0;
    background-color: #1cbc11;
    cursor: pointer;

    font-family: inherit;
    font-size: 16px;
    color: #fff;
}

.btnDriver {
    display: block;
    width: 100%;
    padding: 8px 10px;

    border: 0;
    background-color: #bc115e;
    cursor: pointer;

    font-family: inherit;
    font-size: 16px;
    color: #fff;
}

.btnDriver:hover {
    background-color: #960f4c;
}

.btn:hover {
    background-color: #187b11;
}

.div_inline{
    display: inline;
}
.geocoder {
    position: relative;
    z-index: 2;
    width: 14%;
    left: 0px;
    margin-left: 10px;
    top: 15px;
}
.geocoder1 {
    position: relative;
    z-index: 1;
    width: 14%;
    left: 0px;
    margin-left: 10px;
    top: 15px;
}
/*.form_main{*/
/*    width: 14%;*/
/*    margin-left: 20px;*/
/*    top: 15px;*/
/*}*/

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
    font-size: 15px;
}

